[credential "https://github.com"]
  helper =
  helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
  helper =
  helper = !/usr/bin/gh auth git-credential
[user]
	email = peter@peterwood.dev
	name = Peter Wood
[pull]
	rebase = false
[init]
	defaultBranch = main
[core]
	autocrlf = input
	eol = lf
